.navbar {
    border-bottom: 1px solid var(--color-border);
}

.navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.navbar a {
    color: var(--color-text-primary);
    text-decoration: none;
}
.navbar__brand{
    font-size: 24px;
    font-weight: 800;
}

.navbar_brand span {
    color:var(--color-primary);
}

.navbar__link,
.navbar_auth {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}